@model List<Product>

@section title {
    <h3>Products</h3>
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>      
                <th>Category Name</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>      
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>    
                    <td>@product.Category?.Name</td>
                    <td>@product.Name</td>
                    <td>@product.Price?.ToString("c")</td>
                    <td>@product.Quantity</td>
                    <td><a class="btn btn-link" asp-controller="products" asp-action="edit" asp-route-id="@product.ProductId">Edit</a></td>
                    <td><a class="btn btn-link" asp-controller="products" asp-action="delete" asp-route-id="@product.ProductId" onclick="return confirmDelete()">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>    
}

<br />
<a class="btn btn-primary" asp-controller="products" asp-action="add">Add</a>

@section Scripts{
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this product?");
        }
    </script>
}